
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions to make rules more readable
    function isAuth() {
      return request.auth != null;
    }
    
    function getRole() {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role;
    }

    function isAdmin() {
      return isAuth() && getRole() == 'Admin';
    }
    
    function isTechnician() {
        return isAuth() && getRole() == 'Technician';
    }

    // Admins can read and write all data.
    // Authenticated users (Admin or Tech) can read all data. This is necessary for pages
    // that display combined information (e.g., maps, lists, dropdowns).
    match /{document=**} {
      allow read: if isAuth();
      allow write: if isAdmin();
    }
    
    // Technicians can only update tasks assigned to them.
    match /tasks/{taskId} {
        allow update: if isTechnician() && resource.data.tech_id == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.id;
    }

    // Technicians can only create referrals and material requests (assignments).
    match /referrals/{referralId} {
        allow create: if isTechnician();
    }

    match /assignments/{assignmentId} {
        allow create: if isTechnician();
    }
  }
}
